/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.marker {
  background-image: url(./assets/image/mapbox-icon.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


.marker-blast { 
  /* background-image: url(./assets/image/blast.png); */
  background-image: url(./assets/image/Asset-258mdpi.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-building { 
  /* background-image: url(./assets/image/building.png); */
  background-image: url(./assets/image/Asset-252mdpi.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}
.marker-bottle { 
  background-image: url(./assets/image/bottle.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-crash { 
  /* background-image: url(./assets/image/crash.png); */
  background-image: url(./assets/image/Asset-249mdpi.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-critical { 
  /* background-image: url(./assets/image/critical.png); */
  background-image: url(./assets/image/Asset-279mdpi.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-drought { 
  
  background-image: url(./assets/image/Asset-261mdpi.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-fire { 
  /* background-image: url(./assets/image/fire.png); */
  background-image: url(./assets/image/Asset-255mdpi.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-flood { 
  /* background-image: url(./assets/image/flood.png); */
   background-image: url(./assets/image/Asset-276mdpi.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-gletser { 
  /* background-image: url(./assets/image/gletser.png); */
  background-image: url(./assets/image/Asset-264mdpi.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-landslide { 
  /* background-image: url(./assets/image/ground-fall.png); */
  background-image: url(./assets/image/Asset-273mdpi.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-hazard { 
  /* background-image: url(./assets/image/hazard.png); */
  background-image: url(./assets/image/Asset-246mdpi.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-heart-rate { 
  /* background-image: url(./assets/image/heart-rate.png); */
  background-image: url(./assets/image/Asset-279mdpi.png);
  background-size: cover;
  width: 30px;
  height: 430px; 
  cursor: pointer;
}

.marker-insect { 
  background-image: url(./assets/image/insect.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-oil { 
  background-image: url(./assets/image/oil.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-question-mark { 
  background-image: url(./assets/image/question-mark.png);
  background-size: cover;
  width: 30px;
  height: 43px; 
  cursor: pointer;
}

.marker-robbery {
  background-image: url(./assets/image/robbery.png);
  background-size: cover;
  width: 50px;  
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

