

<!-- <div *ngFor="let map of maps" >
  <button  (click)="flyTo(map)"  >{{ map.properties.message }}</button>
  <div class="marker" (click)="addMarkers(map)"></div>
</div> -->



<div class="wrapper">
  
  <mat-card class="map-container">

    <div class="map" id="map" style='height: 500px;'></div>
  </mat-card>
  
  
  <!-- <div class="show ">   
      
      
        <mat-list-item *ngFor="let item of maps">
          <mat-card>
            <mat-card-content>
              <p>

                {{ item.properties.message }}
              </p>
              
              

             
              <button mat-icon-button color="primary" (click)="flyTo(item)">
                <mat-icon aria-label="Example icon-button with a heart icon">send</mat-icon>
              </button>
              
               
            
            </mat-card-content>
            <mat-card-actions>
              
              
              <button mat-raised-button color="warn">Remove</button>
            </mat-card-actions>
          </mat-card>
        </mat-list-item>
       
      
  </div> -->

  <div class="message-box">
  
    <mat-card>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="your message..." [(ngModel)]="message">
        
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="coor">
      </mat-form-field>
    </mat-card>

   
  </div>

  <div class="charts">
    
      <mat-card class="card-chart">
        <highcharts-chart [Highcharts]="Highcharts" [options]=" optInput" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </mat-card>
      <mat-card class="card-chart">
        <highcharts-chart [Highcharts]="Highcharts" [options]=" optInput2" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </mat-card>
      <mat-card class="card-chart">
        <highcharts-chart [Highcharts]="Highcharts" [options]=" optInput3" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
      </mat-card>
      <mat-card class="card-chart">
        <highcharts-chart 
        [Highcharts]="Highcharts" 
        [options]="  optInput4"  
        [(update)]="updateFlag" 
        
        style="width: 100%; height: 400px; display: block;"></highcharts-chart>


      </mat-card>

      <button mat-raised-button (click)="chartsData()">tambah-spline</button>
      
  </div>
    <!-- <p *ngFor="let item of this.optInput4.series[0].data">{{item}}</p> -->
  
</div>




