.map-container{
    position: relative;
}
#map { 
    /* position:absolute; top:64px; bottom:0;  */
    width:100%; 
    /* z-index: 0; */
    /* height: 50%; */
    
    /* height: 20%; */
    /* position: relative; */
   
}

.wrap-map{
    width: 882;
    height: 545;
}
.map-container{
    position: relative;
    padding: 10px;
}
.show{
    max-width: 200px;
     max-height: 700px;
     overflow: scroll;
      z-index: 1;
      margin-left: 10px;

    /* position: fixed;
    top:200px;
    right: 10px; */
}
.mat-card{
    margin-top: 5px;   

     
}
.wrapper{

    /* margin-top:20px; */
    margin: 0px 10px 10px 10px;

}
.message-box{
    /* z-index: 1;
    position: fixed;
    bottom: 10px;
    right: 40%; */

    position: absolute;
    top:370px;
    right: 30px;
    
    
    
}

.message-box .mat-card{
    width: 250px;
}

.charts{
    display: flex;
    flex-direction: row;
}

.card-chart{
    width: 25%;
    margin-right: 10px;
}

/* marker mapbox */
.marker {
  background-image: url(../../assets/image/mapbox-icon.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.marker-robbery {
  background-image: url(../../assets/image/robbery.png);
   /* background-image: url(../../assets/image/Asset-195mdpi.png); */
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.form-full{
    width: 100%;
}
.full-width{
    width: 100%;
}
.message-box .mat-card-actions{
    margin-right: 0;
    margin-bottom: 0;
}

.addPoint{
     position: absolute;
    top:600px;
    right: 30px;

}

.filter{
    display: flex;
    flex-direction: column;
     position: absolute;
    top:450px;
    right: 30px;
    /* max-width: 100px;
    width: 100px; */
}

.filter button{
    max-width: 100px;

}

.filterCheck{
    display: flex;
    flex-direction: column;
     position: absolute;
    top:84px;
    right: 70px;
}

.filterCheck.mat-card{
    padding: 10px;
}

.list-incident{
    /* display: flex; */
    position: absolute;
    top:84px;
    left: 30px;
    
}

.list-incident .mat-card{
 width: 300px;
 padding: 10px 0 20px 0;
 
}

.list-incident .mat-card .mat-card-content {
    max-height: 300px; 
    overflow-y: auto;
    -ms-overflow-style: none;  
    overflow: -moz-scrollbars-none; 

  }

  .list-incident .mat-card .mat-card-content::-webkit-scrollbar{
      display: none;
  }

